{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Password Reset
{% endblock %}
{% block body %}
    <h3 style="color: green; font-family: 'Berkshire Swash'">Request Password Reset</h3>
    <br>
    <div class="card mb-2 p-3" style="width: 100%;border-radius: 3%">
        <h4 style="color: dimgrey">Enter your Email Id registered with us.</h4>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Request password reset">
        </form>
    </div>
{% endblock %}
